<div class="container projects-container">
  <div class="section-heading text-center my-4">
    <a><h1>PROJECTS</h1></a>
  </div>
  <div class="row">
    
    <div class="col-12 col-md-6 my-5">
      <div class="h-100">
        <%= image_tag "socious.png", class: "project-screenshot" %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center project-content">
      <h2>Socious</h2>
      <p><strong>Project Role:</strong> Front End Developer</p>
      <p>A static freelance corporate website designed for a social impact startup. The client wanted a website based on modern design principles with a focus on showcasing the company's culture and values. The development was done fully in HTML5, CSS3, and JavaScript but I am in the process of migrating to Gatsby in order to take advantage of React's reusable components, Sass, and content management system integration for future blog implementation.</p>
      <p><span style="font-size: 1.5rem">   <i class="devicon-gatsby-plain colored"></i>   <i class="devicon-html5-plain-wordmark colored"></i>   <i class="devicon-react-original colored"></i>   <i class="devicon-graphql-plain colored"></i>   <i class="devicon-css3-plain-wordmark colored"></i>   <i class="devicon-javascript-plain colored"></i> </span></p>
      <div>
        <%= link_to ("<i class='fas fa-globe'></i> Website").html_safe, 'https://socious.io', target: '_blank', class: 'btn btn-dark mr-1' %>
        <%= link_to ("<i class='fab fa-github'></i> Code").html_safe, 'https://github.com/seira-yun/socious-landing', target: '_blank', class: 'btn btn-dark' %>
        <%= link_to ("<i class='fab fa-github'></i> Gatsby Code").html_safe, 'https://github.com/RhysMalyon/socious-gatsby', target: '_blank', class: 'btn btn-dark' %>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 col-md-6 my-5">
      <div class="h-100">
        <%= image_tag "safe-spaces.png", class: "project-screenshot" %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <div class="project-content">
        <h2>Safe Spaces</h2>
        <p><strong>Project Role:</strong> Lead developer</p>
        <p>A web app designed to provide women with a platform to connect and offer their homes as places of refuge to those who feel unsafe or in need of a place to escape danger quickly. Designed with mobile use in mind, the app has a primary focus on communication and the leveraging of the Mapbox API.</p>
        <p><span style="font-size: 1.5rem">  <i class="devicon-rails-plain colored"></i>  <i class="devicon-sass-original colored"></i>  <i class="devicon-bootstrap-plain-wordmark colored"></i>   <i class="devicon-javascript-plain colored"></i>   <i class="devicon-html5-plain-wordmark colored"></i>  <i class="devicon-postgresql-plain-wordmark colored"></i>  <i class="devicon-heroku-plain colored"></i> </span></p>
        <div>
          <%# <%= link_to ("<i class='fas fa-info-circle'></i> Info").html_safe, '../safe-spaces.html', class: 'btn btn-dark mr-1' %>
          <%= link_to ("<i class='fas fa-globe'></i> Website").html_safe, 'https://www.safespacesjp.com', target: '_blank', class: 'btn btn-dark mr-1' %>
          <%= link_to ("<i class='fab fa-github'></i> Code").html_safe, 'https://github.com/RhysMalyon/safe-spaces', target: '_blank', class: 'btn btn-dark' %>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 col-md-6 my-5">
      <div class="h-100">
        <%= image_tag "fam-finder.png", class: "project-screenshot" %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center project-content">
      <h2>Fam Finder</h2>
      <p><strong>Project Role:</strong> Front End Developer</p>
      <p>A marketplace app developed with a fun approach. The aim of the app is to give users an online platform to find, connect with, and hire people as various family roles for different events. We used this app as an opportunity to use various JavaScript plugins such as Flatpickr and Stimulus.js.</p>
      <p><span style="font-size: 1.5rem">  <i class="devicon-rails-plain colored"></i>    <i class="devicon-sass-original colored"></i>   <i class="devicon-bootstrap-plain-wordmark colored"></i>   <i class="devicon-javascript-plain colored"></i>   <i class="devicon-html5-plain-wordmark colored"></i>    <i class="devicon-postgresql-plain-wordmark colored"></i>   <i class="devicon-heroku-plain colored"></i> </span></p>
      <div>
        <%# <%= link_to ("<i class='fas fa-info-circle'></i> Info").html_safe, '/fam-finder.html', class: 'btn btn-dark mr-1' %>
        <%= link_to ("<i class='fas fa-globe'></i> Website").html_safe, 'http://fam-finder.herokuapp.com/', target: '_blank', class: 'btn btn-dark mr-1' %>
        <%= link_to ("<i class='fab fa-github'></i> Code").html_safe, 'https://github.com/RhysMalyon/fake-fam', target: '_blank', class: 'btn btn-dark' %>
      </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 col-md-6 my-5">
      <div class="h-100">
        <%= image_tag "footy-friend.png", class: "project-screenshot" %>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center project-content">
      <h2>Footy Friend</h2>
      <p><strong>Project Role:</strong> Full-Stack Developer (Personal Project)</p>
      <p>A side project based on personal interests. A full-stack web application that lets users create football leagues, teams, clubs, and stadiums. This was my first solo development project from scratch and proved to be an invaluable learning experience for the integration of authorization using the Rails pundit gem.</p>
      <p><span style="font-size: 1.5rem">   <i class="devicon-rails-plain colored"></i>    <i class="devicon-sass-original colored"></i>   <i class="devicon-bootstrap-plain-wordmark colored"></i>   <i class="devicon-javascript-plain colored"></i>   <i class="devicon-html5-plain-wordmark colored"></i>    <i class="devicon-postgresql-plain-wordmark colored"></i>   <i class="devicon-heroku-plain colored"></i> </span></p>
      <div>
        <%# <%= link_to ("<i class='fas fa-info-circle'></i> Info").html_safe, '/footy-friend.html', class: 'btn btn-dark mr-1' %>
        <%= link_to ("<i class='fas fa-globe'></i> Website").html_safe, 'https://footy-friend-lw.herokuapp.com/', target: '_blank', class: 'btn btn-dark mr-1' %>
        <%= link_to ("<i class='fab fa-github'></i> Code").html_safe, 'https://github.com/RhysMalyon/footy-friend', target: '_blank', class: 'btn btn-dark' %>
      </div>
    </div>

    <div class="divider"></div>
    <div id="contact"></div>
  </div>
</div>


